// @import "/src/app/landingpage/landingpage.component.scss";
// @import "/src/app/navigation/about/about.component.scss";

.containerr{
    margin: 5% 0 0 10%;
    padding: 10% !important;
    width: 76% !important;

}
.larger{
    font-size: 32px;
    font-weight: 500;
}
a{
    text-decoration: none;
}
.button{
    background-color: rgb(238, 234, 234);
    width: 120px;
    height: 40px;
    text-align: center;
    // padding-top: 10px;
    color: black;
    margin-left:100px !important;
    margin-top: 5%;
    font-size: large;
}
.button:hover{
    background-color: #73c1cf;
    color:white ;
}
p{
    font-size: medium;
}
// .hero {
//     background-image: url('/src/assets/volunteers.jpg'), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));

//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     display: flex;
//     flex-direction: column;
//     height: 100%;
//     justify-content: center;
//     align-items: center;
// }