<div class="containerr">
    <!-- <div class="">
        <img src="/src/assets/volunteers.jpg">
      </div> -->
    <h1 class="larger">Become a Koch Community volunteer: join us in changing the world, one child at a time</h1>
    <p>The establishment of the Korogocho Community Library is attributed to the remarkable efforts of numerous individuals who generously contributed their skills and expertise on a voluntary basis, without any remuneration. These individuals share a common belief in the significance of education and the potential for creating a more equitable world.</p>
        
       <p> We are always looking for people who are passionate and whose skills can help us improve and grow, benefiting both the children and the organization. Below are the options available to volunteer with us. </p>

       <ul>
        <li>Finance</li>
        <li>Fundraising</li>
        <li>Education</li>
        <li>Operations</li>
       </ul>

       <div class="remotely">
        <h1>VOLUNTEERING REMOTELY</h1>
        <p>Are you an education specialist who wishes to suggest an activity for our team? 
            Are you a communication professional interested in assisting us enhance the way we convey our impact? 
        If you have a proposal, email us, we will assess it and get back to you.


        </p>
        
        
        <div class="buttons-project" style="width: 100%;">
            <a href="mailto:kochcommunitylib@gmail.com?subject=volunteer/EN" width="100%"><div class="button">Email Us</div></a></div>
       </div>
</div>
