@import "../../landingpage/landingpage.component.scss";

.container {
    top: -10px;
    left: -20px;
}
.card{
    // position: fixed;
    // width: 100%;
    // height: 60%;
    // background: url('../../../assets/akinyiwithbook.jpg') center/cover no-repeat;
    // z-index: 1;
}
.carousel img{
    // background-size: cover;
    object-fit: cover;
}

// .overlay-text{
//     top:16%;
//     left:45%;
//     transform: translate(-40%, -40%);
//     // color:rgb(22, 205, 221);
//     color: #052725;
// }
// .overlay-txt{
//     top: 25%;
//     left:45%;
//     transform: translate(-30%, -30%);
//     font-size: 36px;
//     color:rgb(113, 188, 185);
//     // color: rgb(153, 187, 186);
//     // color:cadetblue;
// }
.Piclayout{
    max-height: 500px;
    // background:  url('../../../assets/') center/cover no-repeat;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        // height: 40%;
        width: 60%;
        margin: 10% 10% 10% 20%;
        // height: 300px;
    }
  
}
.centeralignment{
    text-align: center;
    margin: 0 0 0 0 ;
    p{
        margin-top: 15%;
    }
}
.overlazparagraphs{
    // margin: 20px 200px;
    // width: 90%;
    // text-align: center;
    align-items: center;
}

.et-search-form, .nav li ul, .et_mobile_menu, .footer-widget li::before, .et_pb_pricing li::before, blockquote {
    border-color: #eeeeee;
}
blockquote {
    margin: 20px 0 0 250px;
    // align-items: right;
    border-left: 5px solid;
    padding-left: 20px;
}
blockquote, q {
    quotes: none;
    // justify-content: space-around;
}

a, abbr, acronym, address, applet, b, big, body, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
}