@import "../../../landingpage/landingpage.component.scss";
@import "../../../navigation/about/about.component.scss";
@import "../../../navigation/services/services.component.scss";


mat-card{
    margin-top: 8%;
    border-left: none !important;
}
.centeralignment{
    text-align: start;
    margin: 0 0 10px 6%;
}
.centeralignment[_ngcontent-ng-c2393349527] {
    text-align: center;
    margin: 0 0 10px 0;
}
a{
    text-decoration: none;
    color: rgb(124, 210, 244);
}
a:hover{
    color: #73c1cf;
}
.mat-mdc-form-field{
    // display: block !important;
    // width: 90% !important;
    // height: 60px !important;
    margin-right: 20px !important;
}
h5{
    font-weight: 600;
    font-size: large;
    margin-bottom: 5%;
}
.borderline{
    // box-sizing: border-box;
    // box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e3e3;
    padding: 7% 0 0 4%;
}
