<div class="container">
    <mat-card style="margin-left: 3%;">
        <div class="Piclayout" fxLayout="row" fxLayout.xs="row" fxLayoutGap="10px" fxFlexFill>
            <div fxFlex="50" class="centeralignment">
                <p>For questions about making a gift by cash, check or credit card, please call the Library Foundation office at: +254728356944 <br>
                
                Email us at:&nbsp; <strong><a href="mailto:kochcommunitylib@gmail.com">kochcommunitylib@gmail.com</a></strong></p><br>
                <strong>Mailing address:&nbsp; </strong><br>
                Korogocho Slums Community Library<br>
                        Korogocho- Gitathuro<br>
                        near Kao la Tumaini, CA&nbsp; 95240
                <p>Office hours are Monday – Friday from 8:00am – 5:00pm</p>
            </div>

            <div fxFlex="" class="">
                
            <h5 class="">Contact Korogocho Library Foundation</h5>
            
                <!-- <form method="post" class="wpcf7-form init" aria-label="Contact form"           novalidate="novalidate" data-status="init">
                    <div style="display: none;">
                    <input type="hidden" name="_wpcf7" value="1189">
                    <input type="hidden" name="_wpcf7_version" value="5.8.5">
                    <input type="hidden" name="_wpcf7_locale" value="en_US">
                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1189-p184-o1">
                    <input type="hidden" name="_wpcf7_container_post" value="184">
                    <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                    </div>
                    <p><span class="wpcf7-form-control-wrap" data-name="name"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your name" value="" type="text" name="name"></span>
                    </p>
                    <p><span class="wpcf7-form-control-wrap" data-name="phone"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your phone" value="" type="text" name="phone"></span>
                    </p>
                    <p><span class="wpcf7-form-control-wrap" data-name="email"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your email" value="" type="text" name="email"></span>
                    </p>
                    <p><span class="wpcf7-form-control-wrap" data-name="interest"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="I'm interested in..." value="" type="text" name="interest"></span>
                    </p>
                    <p></p><div id="cf7sr-658d4a8ac209c" class="cf7sr-g-recaptcha" data-sitekey="6Lc_OsYUAAAAALBLuJ11CiROcri_fxKVAPNEAzyG"></div><span class="wpcf7-form-control-wrap cf7sr-recaptcha" data-name="cf7sr-recaptcha"><input type="hidden" name="cf7sr-recaptcha" value="" class="wpcf7-form-control"></span>
                    <p></p>
                    <p><input class="wpcf7-form-control wpcf7-submit has-spinner et_pb_button" type="submit" value="Submit"><span class="wpcf7-spinner"></span>
                    </p><div class="wpcf7-response-output" aria-hidden="true"></div>
                </form> -->
            <form [formGroup]="messageForm" (ngSubmit)="onFormSubmit()">
                <div mat-dialog-content class="content">
                  
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name" formControlName="name">
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input placeholder="Phone" matInput formControlName="phone">
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input placeholder="Email" matInput formControlName="email">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <!-- <mat-label>Name</mat-label> -->
                        <input matInput placeholder="I'm interested In" formControlName="misc">
                    </mat-form-field>
                  
                    <div mat-dialog-actions class="action">
                    <!-- <button mat-raised-button type="button" [mat-dialog-close]="false">Close</button> -->
                    <button mat-raised-button color="primary" type="submit">{{ data ? 'Update': 'Add Food Item' }}</button>
                    </div>
                </div>
                
            </form>
            
            </div>
        </div>
    </mat-card>
</div>
