@import "../../../landingpage/landingpage.component.scss";
@import "../../../navigation/about/about.component.scss";
@import "../../../navigation/services/services.component.scss";


mat-card{
    margin-top: 14%;
    border-left: none !important;
}
.centeralignment{
    text-align: start;
    margin: 0 0 10px 2%;
}
a{
    text-decoration: none;
    color: rgb(124, 210, 244);
}
a:hover{
    color: #73c1cf;
}
.mat-mdc-form-field {
    width: 100%;
    margin-right: 20px !important;
}
h5{
    font-weight: 600;
    font-size: large;
    margin-bottom: 5%;
}
.borderline {
    border: 1px solid #e0e3e3;
    padding: 7% 1% 1% 1%;
}
@media only screen and (max-width: 600px){
    mat-card{
        margin-top: 30%;
        border-left: none !important;
    }
    
  }