<div class="container">
    <mat-card style="margin-left: 3%;">
        <div class="Piclayout" fxLayout="row" fxLayout.xs="row" fxLayoutGap="10px" fxFlexFill>
            <div fxFlex="50" class="centeralignment">
                <p>For questions about making a gift by cash, check or credit card, please call the Library Foundation office at: +254728356944 <br>
                
                Email us at:&nbsp; <strong><a href="mailto:kochcommunitylib@gmail.com">kochcommunitylibgmail.com</a></strong></p><br>
                <strong>Mailing address:&nbsp; </strong><br>
                Korogocho Slums Community Library<br>
                        Korogocho- Gitathuro<br>
                        near Kao la Tumaini, CA&nbsp; 95240
                <p>Office hours are Monday – Friday from 8:00am – 5:00pm</p>
            </div>

            <div fxFlex="" class="">
                
                <h5 class="">Contact Korogocho Library Foundation</h5>

                <form [formGroup]="messageForm" (ngSubmit)="onFormSubmit()">
                    <div mat-dialog-content class="content">
                    
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Name" formControlName="name">
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input placeholder="Phone" matInput formControlName="phone">
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input placeholder="Email" matInput formControlName="email">
                        </mat-form-field>

                        <mat-form-field appearance="outline" style="height: 100px;">
                            <mat-label>Text</mat-label>
                            <input matInput placeholder="I'm interested In" formControlName="misc">
                        </mat-form-field>
                    
                        <button mat-raised-button color="primary" type="submit">{{ data? 'Update': 'Send Message'  }}</button>
                    
                    </div>
                    
                </form>
            
            </div>
        </div>
    </mat-card>
</div>

<!-- <app-footer></app-footer> -->