<footer class="page-footer">
    <div class="footer_wrapper">
      <div class="footer-contents" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxFlexFill>
        <div fxFlex="50">
          <span class="footer_header">Contacts</span>
          <ul class="list-unstyled">
            <li>
              <a>Working Days/Hours: Mon - Fri / 8:00 AM - 5:00 PM</a>
            </li>
            <li>
              <a>Address: Korogocho- Gitathuro, near Kao la Tumaini: P.O. Box 3000-00100, Nairobi,Kenya.</a>
            </li>
            <li>
              <a>Email: kochcommunitylib@gmail.com</a>
            </li>
            <li>
              Phone: <a href="tel:+254728356944"></a>+254728356944 /<a href="tel:+"></a> +254712890791 - Safaricom
              <ul class="list-phone">
                <!-- <li>0773641455 - Telkom</li> -->
                <!-- <li><a href="tel:0792940224"></a>0792 940224 /<a href="tel:0792940224"></a>0792 940222 - Safaricom</li> -->
              </ul>
            </li>
          </ul>
        </div>
        <div fxFlex="">
          <span class="footer_header">Quick Links</span>
          <ul class="list-unstyled">
            <li>
              <a  routerLink="about" > About Us</a>
            </li>
            <li>
              <a routerLink="whatwedo" > Services</a>
            </li>
            <!-- <li>
              <a routerLink="/home/faqs"> FAQs</a>
            </li>
            <li>
              <a routerLink="/home/terms-and-conditions"> Terms & Conditions</a>
            </li> -->
          </ul>
        </div>
        <div fxFlex="">
          <span class="footer_header">Useful Links </span>
          <ul class="list-unstyled">
            <li>
              <a target="_blank" routerLink="whatyoucando/donate">Donate</a>
            </li>
            <li>
              <a target="_blank" routerLink="whatyoucando/volunteer">Volunteer</a>
            </li> 
            <li>
              <a target="_blank" routerLink="whatyoucando/programssponsorship">Impact</a>
            </li>
          </ul>
        </div>
        <div fxFlex="">
          <span class="footer_header">Our Socials</span>
          <ul class="list-unstyled">
            <li>
            <div class="logo_container" fxFlex="15" fxFlex.xs="100" fxLayout="row">
              <p class="disclaimer"><b><span><a href="https://instagram.com/korogochoslumlib" target="_blank"><img [routerLink]="['/']" class="logo-img" src="../../assets/ig.jpg" alt="instagram Logo"></a></span></b></p>
            </div>
          </li>
          <li>
            <div class="logo_container" fxFlex="15" fxFlex.xs="100" fxLayout="row">
              <p class="disclaimer"><b><span><a href="" target="_blank"> <img [routerLink]="['/']" class="logo-img" src="../../assets/whatsapp.jpg" alt="whatsapp Logo"></a></span></b></p>
              <!-- <p class="disclaimer"><b><span><a href="https://www.youtube.com/channel/UCeOiPOsQnirl_rhStmXafiw/featured" target="_blank"> <img [routerLink]="['/']" class="logo-img" src="../../assets/whatsapp.jpg" alt="whatsapp Logo"></a></span></b></p> -->
            </div>
          </li>
          <li>
            <div class="logo_container" fxFlex="15" fxFlex.xs="100" fxLayout="row">   
              <p class="disclaimer"><b><span><a href="" target="_blank"><img [routerLink]="['/']" class="logo-img" src="../../assets/fb.jpg" alt="facebook Logo"></a></span></b></p>
              <!-- <p class="disclaimer"><b><span><a href="https://www.facebook.com/people/ArdhiSasa/100077244823564/" target="_blank"><img [routerLink]="['/']" class="logo-img" src="../../assets/fb.jpg" alt="facebook Logo"></a></span></b></p> -->
            </div>
          </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12 footer-copyright">
      <div class="copyrighttext">
        Copyright Korogocho Slums Community Library 2023 | ©{{year}} All rights reserved <br>
        <span style="margin-left: 45%;">Made with ♥︎</span>
      </div>
    </div>
  </footer>
  
