.container {
    position: relative;
    top: -10px;
    left: -20px;
    // right: -60px;
    // margin: ;
    width: 100%;
    z-index: 1;
}
.carousel{
  height: 200px;
}
img{
    width: 100%;
    // margin: 10px 0;
  
}
.container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 100%;
}

.dots {
    text-align: center;
    margin-top: 0px;
  }
  
  .dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ece2e2;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dots span.active {
    background-color: #b29e1c;
  }

  .col{
    // position: relative;
    // height: 100%;
    // text-align: center;
    margin: 100px 0 0 0px;
    color: #070606;
    // height: 100px;
    // border-right: 1px solid rgb(94, 110, 94);
    background-color: rgb(241, 244, 248);
  }

  .material-icons {
    font-size: 120px;
    color: #b29e1c;
  }

  .flexalign{
    height: 200px;
    display: inline-flex;
    text-align: start;
    align-items: center;
    background-color: rgb(210, 227, 227);
  }
  .anchor{
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  .cardcontainer{
    text-align: center;
    height: 300px;
  }
  .overlazparagraphs{
    margin: 50px 250px;
    text-align: start;
  }

  h1{
    margin-top: 50px;
  }
  
  p{
    font-size: large;
  }

  .overlay-text {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-60%, -60%);
    color: #5c5907;
    font-size: 46px;
    text-align: start;
  }
  .overlay-txt {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 40px;
    text-align: start;
    line-height: 50px;
  }
  .overlay-txts {
    position: absolute;
    top: 70%;
    left: 52%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: start;
  }
  .larger{
    font-size: 43px;
  }
  .smaller{
    top: 75%;
  }
   .accordion-card p{
    font-size: 16px;
    margin: 0 20px;
  }
  .Piclayout{
    height: 50%;
  }
  .card{

  }
  .accordion-card{
   margin: 0px 0px;
   height: 40%;
   h5{
    margin: 0px 3%;
   }
  }
  mat-expansion-panel{
    background-color: orange;
  }
  mat-radio-button {
    font-size: smaller;
  }

 .hide-arrows .carousel-control-prev-icon, 
 .hide-arrows .carousel-control-next-icon {
    display: none;
    visibility: hidden;
}

 
  .gametext{
    height: 80px; 
    background-color: rgb(232, 236, 239);
    margin: 10px 10px;
    text-align: start;
    p{
        margin-top: 30px;
    }
    // width: 60%;
  }

  .game_accordion img{
    height: 250px;
  }
