.container {
    position: relative;
    // top: -10px;
    // left: -20px;
    // right: -60px;
    // margin: ;
    width: 100%;
    z-index: 1;
}
.carousel{
  height: 200px;
}
img{
    width: 100%;
    // margin: 10px 0;
  
}
.container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 100%;
}

.dots {
    text-align: center;
    margin-top: 0px;
  }
  
  .dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ece2e2;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dots span.active {
    background-color: #b29e1c;
  }

  .col{
    // position: relative;
    // height: 100%;
    // text-align: center;
    margin: 100px 0 0 0px;
    color: #070606;
    // height: 100px;
    // border-right: 1px solid rgb(94, 110, 94);
    background-color: rgb(241, 244, 248);
  }

  .material-icons {
    font-size: 110px;
    color: #b29e1c;
    margin-top: 10%;
  }

  .flexalign{
    height: 200px;
    text-align: start;
    align-items: center;
    background-color: rgb(210, 227, 227);
  }
  .donorstext{
      margin: 20% 0 0 10px;
  }
  .anchor{
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin:5% 0 0 10%;
  }
  .cardcontainer{
    text-align: center;
    height: 300px;
  }
  .overlazparagraphs{
    margin: 50px 250px;
    text-align: start;
  }

  h1{
    margin-top: 50px;
    font-weight: 500;
  }
  
  p{
    font-size: large;
  }

  .overlay-text {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-60%, -60%);
    color: #fff;
    font-size: 40px;
    text-align: start;
    margin: -20px;
  }

  .overlay-txt {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 40px;
    text-align: start;
    line-height: 50px;
  }
  .overlay-txts {
    position: absolute;
    top: 70%;
    left: 52%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: start;
  }
  .larger{
    font-size: 43px;
  }
  .smaller{
    top: 75%;
  }
   .accordion-card p{
    font-size: 16px;
    margin: 0 20px;
  }
  .Piclayout{
    height: 50%;
  }
  .card{

  }
  .accordion-card{
   margin: 0px 0px;
   height: 40%;
   h5{
    margin: 0px 3%;
   }
  }
  mat-expansion-panel{
    background-color: orange;
  }
  mat-radio-button {
    font-size: smaller;
  }

 .hide-arrows .carousel-control-prev-icon, 
 .hide-arrows .carousel-control-next-icon {
    display: none;
    visibility: hidden;
  }
  ::ng-deep.carousel-control-prev-icon {
    display: none;
  }
  ::ng-deep.carousel-control-next-icon {
    display: none;
  }

  .gametext{
    height: 80px; 
    background-color: #0ec0e424;
    margin: 10px;
    text-align: start;
    p{
        margin-top: 30px;
    }
  }

  .game_accordion img{
    height: 280px;
  }


  .gamebtns{
    margin-left: 69%;
    margin-bottom: 5px;
  }
  .gamebtns .leftbtn{
    margin-right:18%;
  }

  ::ng-deep.carousel-control-prev-icon {
    margin-right: 70%;
  }
  ::ng-deep.carousel-control-next-icon {
  margin-left: 70%;
  }
  ::ng-deep.carousel-indicators {
    margin-right: 3px;
    margin-left: 3px;
    display: none;
  }
  .col-md-3 {
    margin-left: -6%;
}

  @media only screen and (max-width: 600px) {

    .overlay-txt {
      top: 60%;
      left: 40%;
      font-size: 16px;
      text-align: center;
  } 
  .overlay-text {
    top: 50%;
    left: 51%;
    font-size: 15px;
    text-align: center;
  }
  .overlay-txts {
    top: 60%;
    left: 52%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
  }
  .carousel   img {
    max-height: 300px;
    }
  .anchor {
    margin: 5% 0 3% 10%;
  }
  .overlazparagraphs {
    margin: 0px 20px 0 20px;
  }
  .larger {
    font-size: 13px;
    font-weight: 600;
  }
  .smaller {
    top: 63%;
    font-size: 12px;
    width: 100%;
    font-weight: 200;
  }
  .gamebtns {
    margin-left: 4%;
    margin-bottom: 5px;
  }
  .gametext p {
    margin: 0px;
  }
  .game_accordion img{
    height: 320px;
    width: 330px;
  }
  ::ng-deep.carousel-control-prev-icon {
    margin-right: 60%;
    background-color: #0dcaf061;
  }
  ::ng-deep.carousel-control-next-icon {
    margin-left: 60%;
    background-color: #0dcaf061;
  }

  }
 
  @media only screen and (min-width: 600px) {
  .larger {
    font-size: 28px;
  }
  }

  @media only screen and (min-width: 601px) and (max-width:768px){
    .overlazparagraphs {
      margin: 50px 100px;
    }
    .overlay-text {
      left: 48%;
      font-size: 32px;
    }
    .overlay-txt{
      font-size: 32px;
    }
    .larger{
      top: 70%;
    }
    .smaller {
      top: 74%;
      font-size: 16px;
    }
    .anchor {
      display: inline-block;
    }
    .gamebtns {
      margin-left: 25%;
      margin-bottom: 2%;
      margin-top: 2%;
    }
    .flexalign {
      height: 240px;
    }
    .gametext {
      margin: 0 -4px;
      // height: 120px;
      }
      .gametext   p{
        margin-top: 0px;
      }
      .col-md-3 {
        margin-left: 0;
    }
    .game_accordion   img {
      height: 250px;
    }

    ::ng-deep.carousel-control-prev-icon {
      background-color: #0dcaf061;
    }
    ::ng-deep.carousel-control-next-icon {
      background-color: #0dcaf061;
    }
  }
  @media only screen and (min-width: 769px) and (max-width: 992px) {
    .gamebtns {
      margin-left: 30%;
  }

  }
  @media only screen and (min-width: 993px) and (max-width: 1200px) {
      .smaller {
        top: 71%;
    }
    .larger{
      top: 65%;
    }
  }

/* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1201px) {
      .smaller {
        top: 71%;
    }
    .larger{
      top: 65%;
    }
  }