.container {
    position: relative;
    top: 0px;
    left: 0px;
    // background-color: #ccc7c7;
    // color: #fff;
    // padding: 0px;
    z-index: 1;
}
img{
    width: 100%;
    margin: 50px 0;
  
}
.container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 100%;
}

.dots {
    text-align: center;
    margin-top: 0px;
  }
  
  .dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ece2e2;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dots span.active {
    background-color: #b29e1c;
  }

  .col{
    // position: relative;
    // height: 100%;
    // text-align: center;
    margin: 100px 0 0 0px;
    color: #070606;
    // height: 100px;
    // border-right: 1px solid rgb(94, 110, 94);
    background-color: rgb(241, 244, 248);
  }

  .material-icons {
    font-size: 120px;
    color: #b29e1c;
  }

  .flexalign{
    height: 200px;
    display: inline-flex;
    text-align: start;
    align-items: center;
    background-color: rgb(210, 227, 227);
  }
  .cardcontainer{
    text-align: center;
    height: 300px;
  }
  .overlazparagraphs{
    margin: 50px 250px;
    text-align: start;

  }
  h1{
    margin-top: 50px;
  }
  p{
    font-size: large;
  }

  .overlay-text {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: rgb(19, 17, 17); /* Text color */
    font-size: 46px; /* Adjust the font size as needed */
    font-weight: bold;
    text-align: center;
  }
  