@import "../../landingpage/landingpage.component.scss";
@import "../../navigation/about/about.component.scss";
@import "../../navigation/services/services.component.scss";

.button{
    width: 15%;
    margin: 5% 0  5% 50%;
}

.card1{
    // justify-content: center;
    // width: 100%;
    // margin: 0;
}
.noliststyle{
    list-style: none;
}
.top{
    margin-top: 5%;
}
.overlazparagraphs{
    font-size: x-large;
}

  
  