<div class="container">

    <mat-card class="backgroundfixed">
      <mat-card-content>

          <div class="top" fxLayout="column" fxLayout.xs="row" fxLayoutGap="10px" fxFlexFill>
              <div  fxFlex="" class="overlazparagraphs card1" id="materialdonations" data-rellax-speed="-40">
                  <h5><a>Donation</a></h5>
                  <p><br>
  
                    With your onetime or recurring donation we can do this together, for a very long time. A promise of hope for children that will write together with us a new future for the entire world.

                    By donating online you help us stay in touch with you to share updates on the things we’ll be able to achieve in the future, thanks to your support.                  </p>
                  
              </div>
              <div fxFlex="" class="overlazparagraphs card1" id="feesdonations" data-rellax-speed="-40">
                <h2 class="project-title">Donate by bank transfer</h2>
                <div class="section-text" style="padding: 0 0;"><h2><img alt="" src="/site/assets/files/1290/business-and-finance.svg" width="50">&nbsp;<strong>AT THE BANK</strong></h2>

                    <hr>
                    <p dir="ltr">You can donate by <strong>bank transfer</strong>:</p>
                    
                    <ul class="noliststyle">
                        <li><strong>Acc No.:</strong> IT 84 J&nbsp;05018&nbsp;03200&nbsp;000016947665</li>
                        <li><strong>Acc Name:</strong>&nbsp;Korogocho Slums Community Library K.S.C.L</li>
                        <li><strong>BIC/SWIFT:</strong> ETICIT22</li>
                    </ul>
                    
                    <p>If you can, ask your bank to set-up an <strong>automatic recurrent/monthly donation</strong>: you can help us continue our projects over a long period of time. If you make a donation by bank transfer, please 
                        <a href="mailto:kochcommunitylib@gmail.com?subject=bank%20transfer%20donation" target="_blank" style="color: aliceblue; ">send us an email</a>:&nbsp;we would be happy to send a thank you message!</p>
                    
                    <h2><img alt="" src="../../../assets/mark.png" style="width:20px; margin-top: 2%;">&nbsp;<strong>INFO</strong></h2>
                    
                    <hr>
                    <p>These are the <strong>only methods of donation</strong> approved by Korogocho Community Library and Kamenju Family Foundation.</p>
                </div>

                </div>
              <button mat-raised-button class="button">Donate Now</button>
              <!-- <div fxFlex="" class="overlazparagraphs card1" id="giftsdonations" data-rellax-speed="-40">
              </div> -->
          </div>

          <div class="Piclayout" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxFlexFill>
            <div fxFlex="50" class="centeralignment">
                <img src="../../../assets/chart.png">
            </div>   
          <div fxFlex="" class="centeralignment">
              <mat-card style="height: 300px;background-color:transparent; margin-left: -10%;">
                <p>our plan of allocation involves 95% of our donations to implement programs and activities on the ground and 5% management cost.</p>       
              </mat-card>
          </div>
          </div>
      </mat-card-content>

    </mat-card>

    <div class="overlazparagraphs">
        <h1>ANY OTHER QUESTIONS?</h1>
        <p>Email us for any queries, information or requests.</p>
        <a href="mailto:kochcommunitylib@gmail.com?subject=bank%20transfer%20donation" target="_blank" style="color: aliceblue; "><button mat-raised-button style="margin-top: 2%;">Write Us Now</button></a>
    </div>



</div>

<!-- <app-footer></app-footer> -->



<router-outlet></router-outlet>
