@import "../../landingpage/landingpage.component.scss";
@import "../../navigation/about/about.component.scss";
@import "../../navigation/services/services.component.scss";

.button{
    width: 15%;
    margin: 0% 0  5% 46%;
}

.card1{
    // justify-content: center;
    // width: 100%;
    // margin: 0;
}
.noliststyle{
    list-style: none;
}
.top{
    margin-top: 5%;
}
.overlazparagraphs{
    font-size: x-large;
}
.alertinfo{
    color: rgb(244, 125, 5);
}
.overlazparagraphs {
    text-align: center;
}