@import "../../landingpage/landingpage.component.scss";
@import "../../navigation/about/about.component.scss";
@import "../../navigation/services/services.component.scss";

.container{
    margin-left: 0px;
}
.button{
    width: 15%;
    margin: 0% 0  5% 40%;
}

.noliststyle{
    list-style: none;
}
.top{
    margin-top: 5%;
}
.overlazparagraphs{
    font-size: x-large;
}
.alertinfo{
    color: rgb(244, 125, 5);
}
.overlazparagraphs {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .top{
        margin-top: 12%;
    }
    .Piclayout img {
        width: 80%;
        margin: 8px 0 0 0;
        padding: 5px;
    }
    .centeralignment   img{
        height: 200px !important;
        width: 230px;
    }
    .centeralignment mat-card{
        height: 300px;
        margin-left: -30%;
        width: 100px;
    }
    .container{
         margin-left: 0px; 
    }
}