@import "../../landingpage/landingpage.component.scss";
@import "../../navigation/about/about.component.scss";

.backgroundfixed{
    // margin-top: 10%;
    background:  linear-gradient(135deg, #35180b8c, #52281159 100%),
    url('../../../assets/libmaterial.jpg') no-repeat fixed center;
    background-size: cover;
    color: #fff !important;
}
.top{
    margin-top: 15%;
}
.Piclayout{
    background-color: transparent;
}
.Piclayout img{
    margin: 0% 0% 0% 0% !important;
}
.card1 {
    background-color: #2b8696;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.4s ease-in-out;
    h5 a {
        color: #fff;
        text-decoration: none;
      };
        
  p {
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
    margin-top: 10px;
  }
  }
  .displaynone{
    display: none;
  }
  
  .card1:hover {
    transform: scale(1.05);
  }
  
  
  .card1 a:hover {
    text-decoration: underline;
  }
  .displayclass{
    display: none;
  }
  
  .gridimages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-left: 3%;
  }
  
  .gridimages img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px; 
  }
  
  .overlazparagraphs {
    width: 80%;
  }
  .overlazparagraphs{
    margin: 50px 100px;
    text-align: start;
  }
  @media only screen and (max-width: 600px) {
    .top{
      flex-direction:column !important;
    }
    .overlazparagraphs {
      margin: 40px 0 0 40px;
  }
  .gridimages  img {
    width: 100px;
    height: 110px !important;
    border-radius: 5px;
  }
  .centeralignment .gridimages{
    margin-left: -5px !important;
  }
  .centeralignment  p {
    margin-top: revert;
    font-size: 10px;
    margin-left: 3%;
}
  .Piclayout {
    margin-top: 4%;

    img {
      padding: 0px;
      // margin-top: 8%;
    }
  } 
  .centeralignment mat-card{
    height: 230px !important;
    margin-left: 5%;
  }
  .hideclass{
    display: none;
  }
   .displayclass{
    display: contents;
  }
  }