<div class="container">

      <mat-card class="backgroundfixed">
        <mat-card-content>

            <div class="top" fxLayout="column" fxLayout.xs="row" fxLayoutGap="10px" fxFlexFill>
                <div  fxFlex="" class="overlazparagraphs card1"  id="library_material_donation">
                    <!-- data-rellax-speed="-40" -->
                    <h5><a> Library Setup and Furnishing:</a></h5>
                    <p class="hideclass"><br>
    
                        At Korogocho Library, our commitment to fostering a rich learning environment relies on a diverse range of resources that cater to the varied needs and interests of our community. Our library strives to provide an extensive collection of books spanning different genres, topics, and age groups, ensuring that every reader especially children can find something helpful and captivating. 
                    </p>
                    <p class="displayclass"><br>
    
                        Our commitment to fostering a rich learning environment relies on a diverse range of resources that cater to the varied needs and interests of our community. We strive to provide an extensive collection of books spanning different genres, topics, and age groups, ensuring that every reader especially children can find something captivating and helpful. 
                    </p>
                    
                </div>
                <div fxFlex="" class="overlazparagraphs card1"  id="fees_donation">
                    <!-- data-rellax-speed="-40" -->
                    <h5><a> Fees Donations:</a></h5>
                <p class="hideclass"><br>

                  
                    Contributions to school fees donation initiative plays a pivotal role in ensuring that every student without the capacity has the opportunity to access quality education. Your generous donations directly impact the lives of students by alleviating the financial burden associated with school fees, allowing them to focus on their studies and pursue their academic goals without financial constraints.
                </p>
                <p class="displayclass"><br>

                    Contributions to school fees donation initiative plays a pivotal role in ensuring that every student without the capacity has the opportunity to access quality education. Your generous donations directly impact the lives of students by alleviating the financial burden associated with school fees, allowing them to focus on their studies and pursue their academic goals without financial constraints.
                </p>
                </div>
                <div fxFlex="" class="overlazparagraphs card1" id="food_clothing_donations">
                    <!-- data-rellax-speed="-40" -->
                    <h5><a> Food/Clothing Gifts Program:</a></h5>
                <p class="hideclass"><br>

                    Help us build a stronger, more resilient community by ensuring that families facing hardship have access to essential sustenance with your kind food and clothing donations. Your support goes beyond the tangible items; it brings hope, comfort, and a sense of belonging to those facing adversity.
                </p>
                <p class="displayclass"><br>

                     Help us build a stronger, more resilient community by ensuring that families facing hardship have access to essential sustenance with your kind food and clothing donations. Your support goes beyond the tangible items; it brings hope, comfort, and a sense of belonging to those facing adversity.
                </p>
                </div>
            </div>

            <div class="Piclayout" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxFlexFill>
                
            <div fxFlex="50" class="centeralignment">
                <div class="gridimages">
                    <img src="../../../assets/box1.jpg" alt="donationimg">
                    <img src="../../../assets/box4.jpg" alt="donationimg">
                    <img src="../../../assets/box3.jpg" alt="donationimg">
                    <img src="../../../assets/box2.jpg" alt="donationimg">
                </div>
            </div>
            <div fxFlex="50" class="centeralignment">
                <mat-card style="height: 300px;background-color:rgba(0, 0, 0, 0.38);">
                    <p>
                        Thank You for Helping Us Make History! We have seen firsthand the amazing things that can happen when our community comes together to give back! 
                        We are thankful for the support that the Library Foundation has received during our Gives and look forward to sharing our stories of impact.
                    </p>
                   
                </mat-card>
            </div>
            </div>
        </mat-card-content>

      </mat-card>


</div>

<!-- <app-footer></app-footer> -->

