/* your-component.component.css or styles.css */

/* Container styles */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: transparent;
    // color: #fff;
    z-index: 9;
  }
  .nav-header.scrolled-up {
    background-color: #fff;
    // color: #ff6600; /* Adjust the hover color as needed */
  }

  // .scrolled-up li{
  //   color: #fff;
  //   scrollbar-color: purple;
  // }

  
  /* Navigation header styles */
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  #fh5co-logo a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #052725;
    line-height: normal;
  }
  
  #fh5co-logo a:hover {
    color: #ff6600; /* Adjust the hover color as needed */
  }
  .logodiv{
    display: flex; 
    align-items: center;
    margin-right: 200px;
  }
  
  /* Navigation menu styles */
  #menu-wrap {
    display: flex;
    
  }
  
  #fh5co-primary-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  #fh5co-primary-menu li {
    margin: 0 20px;
  }
  
  #fh5co-primary-menu a {
    text-decoration: none;
    color: #073c2c;
    font-weight: bold;
    font-size: 16px;
  }

  
  #fh5co-primary-menu a:hover {
    color: #ff6600; /* Adjust the hover color as needed */
  }
  

  
  /* Responsive styles */
  @media (max-width: 768px) {
    .nav-header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    #menu-wrap {
      flex-direction: column;
      align-items: flex-start;
    }
  
    #fh5co-primary-menu {
      flex-direction: column;
    }
  
    #fh5co-primary-menu li {
      margin: 10px 0;
    }
  
    .sub-menu {
      position: static;
      display: none;
    }
  }
  
  .active{
    color: #fff;
    background-color: #acd1d7;
    border-radius: 5px;
    padding: 5px;
  }

  .menu {
    list-style-type: none;
    padding: 0;
  }
  
  .menu li {
    // display: inline-block;
    position: relative;
  }
  
  .menu a {
    display: block;
    padding: 0px;
    text-decoration: none;
    color: #333;
  }
  
  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 200px;
    border-radius: 10px;
  }
  
  .menu li:hover .submenu {
    display: block;
  }
  
  .submenu li {
    display: block;
  }
  .submenu li a{
    margin: 0;
  }

  .hicon{
    // margin-top: 20px;
    margin: 0 0 0 -25px;
    // pointer: none;
  }
  .hicon:hover{
    // background-color: #ff6600;
    color: #ff6600;
    // background-color: #73c1cf;
    border-radius: 5px;
    cursor: pointer;
    // padding: 5px;
  }
  @media only screen and (max-width: 600px) {

  }

  @media only screen and (min-width: 600px) {
  //   .nav-header{
  //     flex-direction: row;
  //     align-items: flex-start;
  // }
  .logodiv {
    // display: flex;
    margin-right: 50px;
}
    #fh5co-primary-menu {
      flex-direction: row;
  }

  }