/* your-component.component.css or styles.css */

/* Container styles */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    // background-color: #fff;
    // color: transparent;
    background-color: #fff;
    // color: #fff;
    z-index: 9;
  }

  
  /* Navigation header styles */
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  #fh5co-logo a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #052725; /* Adjust the color as needed */
    line-height: normal;
  }
  
  #fh5co-logo a:hover {
    color: #ff6600; /* Adjust the hover color as needed */
  }
  .logodiv{
    display: flex; 
    align-items: center;
    margin-right: 200px;
  }
  
  /* Navigation menu styles */
  #menu-wrap {
    display: flex;
    
  }
  
  #fh5co-primary-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  #fh5co-primary-menu li {
    margin: 0 20px;
  }
  
  #fh5co-primary-menu a {
    text-decoration: none;
    color: #073c2c; /* Adjust the color as needed */
    font-weight: bold;
    font-size: 16px;
  }
  
  #fh5co-primary-menu a:hover {
    color: #ff6600; /* Adjust the hover color as needed */
  }
  
  /* Sub-menu styles */
  .sub-menu {
    display: none;
    // position: absolute;
    // top: 0;
    // left: 0;
    background-color: #fff; /* Adjust the background color as needed */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    // z-index: 1;
  }
  
  #fh5co-primary-menu .sub-menu li {
    padding: 10px;
    border-bottom: 1px solid #eee; /* Adjust the border color as needed */
  }
  
  .sub-menu a {
    color: #333; /* Adjust the color as needed */
    font-size: 10px;
  }
  
  .sub-menu a:hover {
    color: #ff6600; /* Adjust the hover color as needed */
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .nav-header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    #menu-wrap {
      flex-direction: column;
      align-items: flex-start;
    }
  
    #fh5co-primary-menu {
      flex-direction: column;
    }
  
    #fh5co-primary-menu li {
      margin: 10px 0;
    }
  
    .sub-menu {
      position: static;
      display: none;
    }
  }
  

  // .sub-menu {
  //   display: none;
  //   position: relative;
  // }
  
  // .sub-menu.show {
  //   display: block;
  // }
 