<div class="container">

    <div class="nav-header"  [ngClass]="{'scrolled-up': isScrolledUp}">
        <div class="col-md-3 logodiv">
            <img class="logoimg" src="../../assets/kamenjukochlogowithgradientleaves1.png" style="height: 100px;">
            <h1 id="fh5co-logo"><a>Korogocho Community Library</a></h1>
        </div>
        
        <nav id="menu-wrap" role="navigation" class="col-md-9"  [ngClass]="{'scrolled-up': isScrolledUp}">
            <ul class="sf-menu" id="fh5co-primary-menu" [ngClass]="{'scrolled-up': isScrolledUp}">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="./home">Home</a></li>
                <li routerLinkActive="active"><a [matMenuTriggerFor]="aboutMenu" routerLink="./about">About Us</a>
                    <mat-menu #aboutMenu="matMenu">
                            <button mat-menu-item routerLink="./about">Board</button>
                            <button mat-menu-item routerLink="./contactus">Contact</button>                          
                    </mat-menu>
                </li><i [matMenuTriggerFor]="aboutMenu" class="material-icons hicon">expand_more</i>

                <li class="menu" routerLinkActive="active">
                    <a [matMenuTriggerFor]="subMenu" routerLink="./whatwedo"> What We Do</a>
                    <mat-menu #subMenu="matMenu">
                        <!-- <a>What We Do</a> -->
                        <!-- <ul> -->
                            <button mat-menu-item routerLink="./whatwedo">Library material</button>
                            <button mat-menu-item routerLink="./whatwedo">fees Donations</button>
                            <button mat-menu-item>Food/Cloth Donations</button>
                          
                        <!-- </ul> -->
                    </mat-menu>
                </li><i [matMenuTriggerFor]="subMenu" class="material-icons hicon">expand_more</i>
                  

                <li class="menu" routerLinkActive="active">
                    <a [matMenuTriggerFor]="subMenu2" routerLink="./whatyoucando"> Get Involved</a>
                    <mat-menu #subMenu2="matMenu">

                            <button mat-menu-item routerLink="./donate">Donate Now</button>
                            <button mat-menu-item routerLink="./volunteer">Volunteer</button>
                            <button mat-menu-item routerLink="./programssponsorship">Fundraise</button>
                          
                    </mat-menu>
                </li><i [matMenuTriggerFor]="subMenu2" class="material-icons hicon">expand_more</i>

                <li><a class="" routerLink="/donate">Donate Now</a></li>
                
            </ul>

            
        </nav>
    </div>

</div>



