@import "/src/app/landingpage/landingpage.component.scss";
.overlay-txt{
    top: 30%; 
    left: 26%; 
}
.container {
    max-width: 100%;
    // background-image:url('/src/assets/book.jpg');
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-size: cover;
//   height: 100vh;
//   padding-top: 4%;
background-color: rgb(220, 219, 219);
}
.login_card {
    // position: relative;
    position: absolute;
    margin: -380px 0 0 6.5%;
    // width: 400px;
    height: 200px;
    color: #194960;
    font-weight: 800;
    background-color: hsla(0,0%,100%,.6);
    // background-color: hsla(0,0%,100%,.6);
    border-radius: 0.3rem;
    max-width: 450px;
    // padding: 1.8rem 1.5rem;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    // min-height: 345px;
    box-shadow: 0px 0px 0px 12px rgba(249 249 249 / 55%);
    -webkit-box-shadow: 0px 0px 0px 12px rgb(249 249 249 / 55%);
    -moz-box-shadow: 0px 0px 0px 12px rgba(249 249 249 / 55%);
    
    // ::ng-deep.mat-card-actions, .mat-card-content, .mat-card-subtitle {
    //   display: block;
    //   margin-bottom: 50px;
    //   z-index: 0;
//   }
}

 .amount-list {
    border-radius: .3rem;
    margin-top: .8rem;
    overflow: hidden;
    width: 100%;
    margin-top: 6% !important;
}

 .choose-amount {
    background: #fff;
    border-radius: .5rem;
    display: flex;
    height: 100%;
    margin-bottom: .8rem;
    overflow: hidden;
}
 .amount-option.active {
    background-color: #166dba;
    box-shadow: inset 0 0 10px rgba(0,0,0,.21);
}
 .amount-option {
    align-items: center;
    background-color: #1e88e5;
    border-left: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    padding: .8rem;
    width: 100%;
}
// .amount-option.active {
//     background-color: #b23600 !important;
// }
 .amount-option {
    background-color: #ec6608 !important;
    border-color: #b23600 !important;
}

*, :after, :before {
    box-sizing: border-box;
}

#pre-donation-form {
    pointer-events: auto;
}

.choose-amount input {
    background-color: #fff;
    border: none;
    color: #555;
    font-size: 19.7px;
    height: 100%;
    margin: auto;
    padding: 1rem;
    width: 100%;
}

.icon-currency {
    background-color: #eee;
    color: #555;
    // display: flex;
    font-size: 1.2rem;
    padding: 1rem;
}
.amount-list .amount-option~.amount-option {
    border-left: 1px solid #166dba;
}
.mat-mdc-option.mdc-list-item {
    align-items: center;
    display: inline !important;
}
 #btn-pre-donation-form {
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
    font-family: Poppins,sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    min-width: 160px;
    padding: 10px 16px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10%;
}

.mat-mdc-select-arrow {
    width: 50px !important;
    height: 5px;
    position: relative;
    color: var(--mat-select-enabled-arrow-color);
}