@import "/src/app/landingpage/landingpage.component.scss";
.overlay-txt{
    top: 30%; 
    left: 50%; 
}
.container {
    max-width: 100%;
    // background-image:url('/src/assets/book.jpg');
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-size: cover;
//   height: 100vh;
//   padding-top: 4%;
background-color: rgb(220, 219, 219);
}
.container img{
    object-fit: cover;
}
.login_card {
    position: absolute;
    align-items: center;
    margin: -340px 0 0 30.5%;
    height: 200px;
    color: #194960;
    font-weight: 800;
    background-color: rgb(0 0 0 / 40%);
    // rgba(0, 0, 0, 0.38);
    border-radius: 0.3rem;
    max-width: 450px;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 12px rgba(249 249 249 / 55%);
    -webkit-box-shadow: 0px 0px 0px 12px rgb(249 249 249 / 55%);
    -moz-box-shadow: 0px 0px 0px 12px rgba(249 249 249 / 55%);
    
    // ::ng-deep.mat-card-actions, .mat-card-content, .mat-card-subtitle {
    //   display: block;
    //   margin-bottom: 50px;
    //   z-index: 0;
//   }
}

.amount-list {
    border-radius: 0.3rem;
    margin-top: 0.8rem;
    overflow: hidden;
    width: 80%;
    margin-top: 6% !important;
}
 .choose-amount {
    background: #fff;
    border-radius: .5rem;
    display: flex;
    height: 100%;
    margin-bottom: .8rem;
    overflow: hidden;
}
 .amount-option.active {
    background-color: #166dba;
    box-shadow: inset 0 0 10px rgba(0,0,0,.21);
}
 .amount-option {
    align-items: center;
    background-color: #1e88e5;
    border-left: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    padding: .8rem;
    width: 100%;
}
// .amount-option.active {
//     background-color: #b23600 !important;
// }
 .amount-option {
    background-color: #ec6608 !important;
    border-color: #b23600 !important;
}

*, :after, :before {
    box-sizing: border-box;
}

#pre-donation-form {
    pointer-events: auto;
    width: 410px;
}
 .btn-danger{
    margin-top: 12%;
    background-color: rgb(0 0 0 / 40%);
    border: #ec6608;
}

.choose-amount input {
    background-color: #fff;
    border: none;
    color: #555;
    font-size: 19.7px;
    height: 100%;
    margin: auto;
    padding: 1rem;
    width: 100%;
}

.icon-currency {
    background-color: #eee;
    color: #555;
    // display: flex;
    font-size: 1.2rem;
    padding: 1rem;
}
.amount-list .amount-option~.amount-option {
    border-left: 1px solid #166dba;
}
.mat-mdc-option.mdc-list-item {
    align-items: center;
    display: inline !important;
}
 #btn-pre-donation-form {
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
    font-family: Poppins,sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 10px 16px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10%;
}
.otheramount{
    //  height: 15%;
    // margin-top: 5%;
}

::ng-deep.mat-select-value {
    width: 90% !important;
}
@media only screen and (max-width: 600px){
    .container {
        position: relative;
        min-height: 50%;
        background-color: #fff;
    }
    .container  img {
        object-fit: cover;
        height: 400px;
        margin-top: 4%;
    }
    .login_card{
        margin: -250px 0 0 20px;
        width: 320px;
        height: 40%;
    }
    .overlay-txt{
        left: 48%;
        top: 31%;
        font-size: small;
    }
    #pre-donation-form {
        width: 340px;
    }
    ::ng-deep.cdk-overlay-pane{
        width: 310px !important;
        top: 240px !important;
        left: 40px !important;
    }
    .choose-amount {
        width: 300px;
        margin-left: 6%;
        height: 100%;
     }
     .btn-danger {
        margin-top: 11%;
    }
    
  }
@media only screen and (min-width: 601px) and (max-width:768px){
    .container {
        position: relative;
        min-height: 60%;
        background-color: #fff;
    }
    .container  img {
        object-fit: cover;
        height: 600px;
        margin-top: 13%;
    }
    .login_card{
        margin: -340px 0 0 21.5%;
    }
    .overlay-txt{
        left: 48%;
    }
  }

  @media only screen and (min-width: 769px) and (max-width: 992px) {
    .login_card {
        margin: -240px 0 0 30.5%;
    }
    .overlay-txt {
        font-size: 30px;

    }
  }
  @media only screen and (min-width: 993px) and (max-width: 1200px) {
    // ::ng-deep.cdk-overlay-pane{
    //     width: 310px !important;
    //     top: 33% !important;
    //     left: 38% !important;
    // }
  }
  @media only screen and (min-width: 1201){

  }