<div class="container">
    
        <img src="assets/volunteers.jpg" alt="img">
        <div class="">
            <mat-card class="login_card">
                <!-- <mat-card-title class="title">Login</mat-card-title> -->
              <mat-card-content>
                <form id="pre-donation-form">
  
                    <div class="choose-amount">
                        <div class="icon-currency">$</div>
                   
                         <!-- [opened]="true" -->
            
                        <div style="width: 100%;" class="selectpanel">
                            <div class="otheramount">
                            <input *ngIf="donationSelected === 'other'" matInput type="number" placeholder="Enter amount eg.500" [(ngModel)]="customAmount" [ngModelOptions]="{standalone: true}" (ngModelChange)="onCustomAmountChange($event)"> 
                             </div>
                            <mat-select placeholder="Select amount" class="amount-list" [(ngModel)]="donationSelected" [ngModelOptions]="{standalone: true}" (ngModelChange)="onAmountSelected($event)" *ngIf="donationSelected !== 'other'">
                            <mat-option class="amount-option active" *ngFor="let donation of donations" [value]="donation.amount">{{donation.amount}}</mat-option>
                            <mat-option class="amount-option active" value="other">Other</mat-option>

                            </mat-select>

                        </div>
                    </div>
                  
                    <div id="" class="btn btn-danger" data-bs-toggle="modal">
                     <button mat-raised-button (click)="openDonateForm()" [disabled]="!donationSelected"><span>Donate</span></button>
                      <i id="heart" class="fa-solid fa-heart ms-1 pulse"></i>
                    </div>
                  </form>
                  
                
              </mat-card-content>
            </mat-card>
        </div>
     
    <div class="" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxFlexFill>
        <div fxFlex="50" class="">
            
            <h2 class="overlay-txt">YOUR SUPPORT MATTERS</h2>    
        </div>
        <!-- <div fxFlex="" class="">
            <mat-card class="login_card">
                <mat-card-title class="title">Login</mat-card-title>
              <mat-card-content>

              </mat-card-content>
            </mat-card>
        </div> -->
    </div>

   
</div>
