<div class="cardContainer">
    <div class="subtitle"><h2>Support Our Project</h2></div>
    <mat-expansion-panel class="" [expanded]=false >
        <mat-expansion-panel-header class="details_accordion_header">
        </mat-expansion-panel-header>
        <div>
            <h2 style="color: #2c2b2b; text-align: center;">Help Us Track your Donation and to thank you.</h2>
        </div>
        <form [formGroup]="donorForm" (ngSubmit)="onFormSubmit()" class="donateform">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="eg. first name" formControlName="firstName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Surname</mat-label>
                <input matInput placeholder="address" formControlName="surname">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Phone number</mat-label>
                <input matInput placeholder="phone no." formControlName="phone">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="email" formControlName="email">
            </mat-form-field>
          
        <div mat-dialog-actions class="action">
          <button mat-raised-button color="primary" type="submit" [disabled]="!donorForm.valid">Send Details</button>
        </div>
        <div *ngIf="detailsSent"><p>Please proceed to donate below</p></div>
        
        </form>

    </mat-expansion-panel>


    <div>
        <button mat-raised-button (click)="showSet1()" class="togglebtn" [ngClass]="{ 'active': showRadioSet === 1 }">Single</button>
        <button mat-raised-button (click)="showSet2()" class="togglebtn" [ngClass]="{ 'active': showRadioSet === 2 }">Periodic</button>
      </div>
    <mat-card class="moneycard">
          
          <div *ngIf="showRadioSet === 1">
            <div class="text-center">
                <p>you have chosen a donation of $ {{ selectedAmount }} <a>single</a></p>
              </div> 
          </div>
          
            <div *ngIf="showRadioSet === 2">
                    <label *ngFor="let option of radioSet2Options">
                    <input type="radio" [value]="option.value" [(ngModel)]="selectedOption2" />
                    {{ option.label }}
                    </label>
                    <div class="text-center">
                        <p>you have chosen a donation of $ {{ selectedAmount }} {{selectedOption2}} </p>
                    </div>
            </div>
            
            <div class="subtitle">
                <h2>{{ selectedOption === 'option1' ? 'Credit Card Information' : 'Pay with PayPal' }}</h2>
            </div>
    
            <mat-divider></mat-divider>
                
            <mat-radio-group [(ngModel)]="selectedOption" class="matradio">
                    <mat-radio-button appearance="standard" class="togglebtn" value="option1">CREDIT CARD</mat-radio-button>
                    <mat-radio-button class="togglebtn" value="option2">PAYPAL</mat-radio-button>
            </mat-radio-group>


            <div #paymentRef>
  
            <div *ngIf="selectedOption === 'option1'" >
                <!-- <form [formGroup]="cardForm" (ngSubmit)="onFormSubmit()">
                    <div mat-dialog-content class="content">
                    
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Credit card number" formControlName="cardNumber">
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <input placeholder="Month" matInput formControlName="month">
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <input placeholder="Year" matInput formControlName="year">
                        </mat-form-field>
                                
                        <mat-form-field appearance="outline">
                            <input placeholder="Cvv" matInput formControlName="cvv">
                        </mat-form-field>
                    
                        <button [disabled]="!donorForm.valid && !cardForm.valid" mat-raised-button color="primary" type="submit">Donate Now</button>
                    
                    </div>
                    
                </form> -->
                
            </div>

            <div *ngIf="selectedOption === 'option2'">
                <!-- <button mat-raised-button color="primary" type="submit">PayPal</button> -->
                <!-- <div #paymentRef></div> -->
            </div>
                
           
                    
                </div>
         
          
          
          
        
    </mat-card>
</div>