<form [formGroup]="donorForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="eg. first name" formControlName="firstName">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Surname</mat-label>
        <input matInput placeholder="address" formControlName="surname">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Phone number</mat-label>
        <input matInput placeholder="phone no." formControlName="phone">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="email" formControlName="email">
    </mat-form-field>
<!--   
  <mat-form-field appearance="outline">
      <mat-label>Item</mat-label>
      <input matInput placeholder="Item name" formControlName="itemName">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Quantity</mat-label>
    <input matInput placeholder="qty" formControlName="qty">
</mat-form-field>

  <mat-form-field appearance="outline">
      <mat-label>Price Per Unit</mat-label>
      <input placeholder="cost" matInput formControlName="itemValue">
  </mat-form-field>
  
<mat-form-field appearance="outline">
    <mat-label>Item code</mat-label>
    <input placeholder="Add item code" matInput formControlName="code">
</mat-form-field> -->
  
<div mat-dialog-actions class="action">
  <button mat-button color="primary" type="submit">Donate now</button>
</div>

</form>

<mat-card>
    <div class="text-center">
        <!--  *ngIf="selectedAmount !== undefined" -->
        
        you have chosen a donation of<p class="amountdonated"> {{ selectedAmount }}</p>
      </div>
</mat-card>