<div class="container">
    <mat-card style="margin-left: 3%;">
        <div class="" fxLayout="row" fxLayout.xs="row" fxLayoutGap="10px" fxFlexFill>
            <div fxFlex="50" class="centeralignment">
                <div class="row centeralignment">
                    <div class="col-md-6">
                        <h1><strong>BOARD OF DIRECTORS</strong></h1>
    
                        <!-- BOARD OF DIRECTORS -->
        
                        <h2>President</h2>
                        Jackson Kamenju <br><br>
        
                       <h2>Vice President</h2>
                       Lucy Karani<br><br>
                        <h2>Treasurer</h2>
                        Jackson Mwangi <br><br>
                        <h2>Secretary</h2>
                        Lucy Karani  <br><br>
                        <h2>Corresponding Secretary</h2>
                       Lucy Karani
                    </div>
                   
    
                    <div class="col-md-6">
                        <h1><strong>BOARD MEMBERS</strong> </h1>
                        Diana Ikiamba<br>
                        Lucy Karani <br><br>

                        <h2>LIBRARY DIRECTOR</h2>
                        Lucy Karani
                        <br><br>
            
                        <h2>Associate Members</h2>
                        Naftali Kamenju<br>
                        Omondi Augustine<br>
                        Louis Kinyanjui 
                    </div>
                </div>
   
            </div>

           <div fxFlex="50" class="borderline">
                
               

            KOROGOCHO COMMUNITY LIBRARY FOUNDATION <br><br>
            A non-profit organization. <br>
            ID No. 68-0438028<br>
            A 501 (C) (3) Corporation<br>
                        
            </div> 
        </div>
    </mat-card>
</div>

<!-- <app-footer></app-footer> -->