
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kochlibrary-primary: mat.define-palette(mat.$indigo-palette);
$kochlibrary-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kochlibrary-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$kochlibrary-theme: mat.define-light-theme((
  color: (
    primary: $kochlibrary-primary,
    accent: $kochlibrary-accent,
    warn: $kochlibrary-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($kochlibrary-theme);

/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


  
/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #0d7192;
  // border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* For Firefox */
/* Add this style if you want to style the scrollbar in Firefox */
/* For Firefox Quantum (>= 64) */
* {
  scrollbar-color: #939292 #f5f5f5;
}

/* For Firefox versions before Quantum */
* {
  scrollbar-face-color: #888;
  scrollbar-shadow-color: #f5f5f5;
  scrollbar-highlight-color: #f5f5f5;
  scrollbar-3dlight-color: #f5f5f5;
  scrollbar-darkshadow-color: #888;
  scrollbar-track-color: #f5f5f5;
}
