@import "/src/app/landingpage/landingpage.component.scss";
.overlay-txt {
    top: 30%;
    color: #373535;
    font-size: 32px;
  }
  .smaller{
    margin:8% 0 0 2%;
    align-items: center;
  }
  h2{
    align-items: center;
    text-align: center;
  }