<div class="container">
    <div class="">
        <img src="assets/libmaterial.jpg" alt="img" height="547px" width="100%" >
        <h2 class="overlay-txt">YOUR SUPPORT MATTERS</h2>

    </div>
    <div class="" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxFlexFill>
        <div fxFlex="" class="smaller">
            <h2>Weekends At The Library</h2>
            <ul>
                <li style="list-style: none;">The Korogocho Library Foundation will be pleased to host Annual Events and Fundraisers at the Library.
                </li>
                <li style="list-style: none;"> The proceeds from these events will help “fill the gap” between available funds from our supporters and the needs of the Library. The library is planning to expand its outstanding educational and literacy services to meet the needs of our diverse and growing population. With your support, the Foundation can continue to assist with funding for important Library improvements.</li>
            </ul>
               
            <!-- <p style="font-size: medium;"></p> -->
        </div> 
        <div fxFlex="" class="">
            <h2><strong>Ways in which your support will be of help!</strong></h2>
            <ul>
                <li><strong>The Library Children's Area - </strong>we shall give the study area a complete make-over, including adding new furniture, beautiful murals, child-friendly book shelving, and play structures to make the area more appealing and kid friendly. It's really something, a must see vision!</li>
                <li><strong>Homework Help Study Area/Room (for Science and grammar school students)-</strong> Given the explosive demand for this service, we intend to seclude a Homework Help Room and offer this program 4 days a week, as well as adding a very popular “Math Power Hour.” However, we are again outgrowing the space needed for this program, but thankfully we hope to secure funding to further build-out this space.</li>
                <li><strong>The Koch Computer Center -</strong> A dedicated space much needed as far as research and assignments assistance is concerned. Now, when you come into the Koch Computer Center, you will see everyone from children, teenagers to  young adults and even the elderly utilizing this resource and computer training being offered by volunteer tutors.</li>
                <li><strong>KochTeens - </strong>A library space to be specifically designed and equipped to meet Koch teenagers education and literacy needs. Offering wide tables for group projects, study rooms and computers</li>
            </ul>
            <p></p>
        </div>   
    </div>
    <div>

    </div>

</div>